div, ul, li{
	list-style-type: none;
}

body {
	margin: 0;
}

.blah {
	top: 0;
	left: 50%;
	right: auto;
	margin-left: max(-750px, -50%);
	position: fixed;
	overflow-x: overlay;
	overflow-y: hidden;
	width: 100%;
	height: 500px;
	z-index: -1;
}

.bgimg {
	margin: auto;
	height: auto;
}

.planner{
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(16px, 2vw, 24px);
	width: 25em;
	margin: 480px auto;
	margin-bottom: 32px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	border-radius: 5px;
	overflow: hidden;
	background-color: #ffffff;
	display: block;
	z-index: -2;
}

.calendar{
	margin: auto;
	font-size: clamp(16px, 2vw, 24px);
	padding-top: 0.75em;
	padding-bottom: 0em;
	background-color: #333333;
}

.calendar-header{
	color: #a7a7a7;
	border-bottom: 1px solid #484848;
	padding-bottom: 16px;
	text-align: justify;
	line-height: 0px;
	font-size: 0px;
}

.calendar-header span{
	display: inline-block;
	font-size: clamp(32px, 4vw, 48px);
	font-weight: 200;
	text-align: center;
	line-height: 0.75em;
}

.calendar-header:after{
	content: '';
	display: inline-block;
	width: 100%;
}


table{
	width: 100%;
	font-size: clamp(16px, 2vw, 24px);
	padding: 0.75em;
	color: #9d9d9d;
}

th{
	color: #5b5b5b;
	font-weight: normal;
	font-size: clamp(16px, 2vw, 24px);
	padding: 0
	margin: 0
}

td{
	font-weight: normal;
	font-size: clamp(16px, 2vw, 24px);
	text-align: center;
}


td > span{
	display: inline-block;
	text-align: center;
	font-size: clamp(16px, 2vw, 24px);
	padding: 0.25em;
	margin: 0px;
	width: 1.8em;
	height: 1.8em;
	line-height: 1.8em;
}

td > span:hover{
	font-weight: bold;
}

td > span.active{
	border: 1px solid #6098cd;
	border-radius: 20%;
}

.schedule{
	margin: 0;
}
.schedule-list{
	padding: 20px;
	margin-left: 37px;
	margin-bottom: 0px;
	border-left: 2px solid #888888;
	display: block;
}

.schedule-item{
	display: block;
	margin-bottom: 48px;
	padding: 0;
	clear: both;
	min-height: 100px;
	overflow: visible;
}

.schedule-item:last-child{
	margin-bottom: 48px;
	min-height: 100px;
}

.time{
	display: block;
	float: left;
	margin-left: -41px;
	font-size: clamp(16px, 2vw, 24px);
	width: 3em; height: 2.075em;
	border-bottom: 2px solid #888888;
	border-top: 2px solid #888888;
	background-color: #ffffff;
	color: #888888;
	border-radius: 0%;
	text-align: center;
	padding: 1px 8px 0px 8px;
}
.time	span{
	font-size: clamp(16px, 2vw, 24px);
	line-height: 2em;
	margin: auto;
	display: block;
}

.description{
	font-size: clamp(16px, 2vw, 24px);
	display: flex;
	flex-wrap: wrap;
	float: left;
	width: 18em;
	flex-grow: 1;
	margin-top: 3px;
	margin-left: 10px;
	color: #888888;
	overflow: visible;
}

.description-header{
	font-size: clamp(16px, 2vw, 24px);
	line-height: 2em;
	width: 18em;
}
.description-labels{
	font-size: clamp(15px, 2vw, 20px);
	margin-top: 4px;
	margin-right: 0.75em;
	width: 4em;
}
.description-content{
	font-size: clamp(15px, 2vw, 20px);
	margin-top: 4px;
	margin-bottom: 16px;
	width: 13em;
	flex-grow: 100;
}
.description	.description-labels p {
	font-size: clamp(15px, 2vw, 20px);
	margin: 0;
	color: #888888;
}
.description	.description-content p {
	font-size: clamp(15px, 2vw, 20px);
	margin: 0;
	color: #888888;
}

/* unused */

.description	.description-content	ul.contact-list{
	margin: 0;
	padding: 0;
}
.description	.description-content	ul.contact-list	li.contact{
	overflow: hidden;
	display: block;
	float: left;
	margin: 0; padding: 0;
	border: 2px solid fadeout(#6098cd, 75%);
	border-radius: 60px;
	width: 56px; height: 56px;
	text-decoration: none;
	text-align: center;
	margin-right: 10px;
	transition: all 0.2s;
}
.description	ul.contact-list	li.contact	img{
	width: 60px; height: 60px;
}

.description	.description-content	ul.contact-list	li.contact:hover{
	border: 2px solid #6098cd;
}

.description	.description-content	ul.contact-list	li.contact.add-contact{
	color: #6098cd;
	font-size: 20px;
	line-height: 60px;
}
.description	.description-content	ul.contact-list	li.contact.add-contact a{
	color: inherit;
	text-decoration: none;
}

.description .description-content	ul.contact-list	li.contact .add-contact a:hover{
	background-color: fadeout(#6098cd, 75%);
}

.schedule-item.free .time{
	border: 2px solid #6098cd;
}

.schedule-item.free .description .description-header{
	background-color: #ffffff;
	color: #c5c5c5;
	display: block;
	float: left;

}

.schedule-item.free .description .description-content{
	margin-left: 5px;
	margin-top: 0;
	content: '';
	width: 215px;
	display: block;
	float: right;
	background-image:  url(https://dl.dropboxusercontent.com/u/2915418/filler.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.tabs{
	margin: 0; padding: 0;
	text-align: justify;
	line-height: 0px;
	font-size: 0px;
	background-color: #6b6b6b;
}
.tabs	.tab{
	display: inline-block;
	width: 33.3333%;
	background-color: #6b6b6b;
	text-align: center;
	color: #333333;
	margin: 0; padding: 0;
	border: 0px none;
	line-height: 38px;
	font-size: 14px;
	transition: background 0.2s;
}

.tab:active{
	background-color: #999999;
	color: #ffffff;
	font-weight: 600;
}

.tab:active:hover{
	background-color: #999999;
}


.tabs	.tab:hover{
	background-color: #777777;
}

a{
	color: inherit;
	text-decoration: none;
}

.tabs:after{
	content: '';
	width: 100%;
	display: inline-block;
}


