.remd {
  word-wrap: break-word;
  max-width: 68ch;
	margin: 0 auto;
  padding: 20px 20px 8rem 20px;
}
.remd,
.remd h1,
.remd h2,
.remd h3,
.remd h4,
.remd h5,
.remd h6,
.remd pre,
.remd code,
.remd blockquote,
.remd em,
.remd strong,
.remd code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: monospace, fixed-width;
  color: #333333;
}
.remd h1,
.remd h2,
.remd h3,
.remd h4,
.remd h5,
.remd h6,
.remd pre,
.remd code,
.remd blockquote,
.remd ol,
.remd ul,
.remd li,
.remd p,
.remd section,
.remd header,
.remd footer {
  float: none;
  margin: 0;
  padding: 0;
}
.remd h1,
.remd p,
.remd ul,
.remd ol,
.remd pre,
.remd blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.remd h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 20px;
  margin: 0;
  overflow: hidden;
}
.remd h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 00px;
  left: 0;
}
.remd h1 + * {
  margin-top: 0;
}
.remd h2,
.remd h3,
.remd h4,
.remd h5,
.remd h6 {
  position: relative;
  margin-bottom: 20px;
}
.remd h2:before,
.remd h3:before,
.remd h4:before,
.remd h5:before,
.remd h6:before {
  content: "## ";
  display: inline;
}
.remd h3:before {
  content: "### ";
}
.remd h4:before {
  content: "#### ";
}
.remd h5:before {
  content: "##### ";
}
.remd h6:before {
  content: "###### ";
}
.remd li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
}
.remd li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.remd ul > li:after {
  content: "-";
}
.remd ol {
  counter-reset: ol;
}
.remd ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.remd pre {
  margin-left: 34px;
  padding-left: 4ch;
}
.remd blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.remd blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
.remd strong:before,
.remd strong:after {
  content: "__";
  display: inline;
}
.remd em:before,
.remd em:after {
  content: "*";
  display: inline;
}
.remd a {
  text-decoration: none;
}
.remd a:not(:empty):before {
  content: "[";
  display: inline;
  color: #333333;
}
.remd a:not(:empty):after {
  content: "]";
  display: inline;
  color: #333333;
}
.remd code {
  font-weight: 100;
}
.remd code:before,
.remd code:after {
  content: "`";
  display: inline;
}
.remd pre code:before,
.remd pre code:after {
  content: none;
}
.remd hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
.remd hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .remd h1 {
    display: block;
  }
}
.remd-ones ol > li:after {
  content: "1.";
}

.remd table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}

.remd tr > * {
  min-width: 3ch;
  position: relative;
  padding: 0;
  text-align: inherit;
  vertical-align: top;
  font-weight: normal;
  border: none;
}

.remd tr > * + * {
  padding-left: 3ch;
}

.remd tr:first-child > th:not([scope="row"]) {
  padding-bottom: 1.5em;
}

.remd tr:first-child > th:not([scope="row"])::after {
  content: "--------------------------------------------------------------------------------------------------------------";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  word-break: break-all;
  height: 1.5em;
}

.remd tr:first-child > * + th:not([scope="row"])::after {
  left: 3ch;
}

.remd tr > * + *::before {
  content: "|\a|\a|\a|\a|\a|\a|\a|\a|\a|\a";
  position: absolute;
  overflow: hidden;
  left: 1ch;
  top: 0;
  bottom: 0;
  white-space: pre;
}
